/target

# Image built by Nix.
result

# Direnv files.
.envrc
.direnv/

# environment file where I store the github token to publish images.
.env

# Images built by Nix.
docker-latest
docker-versioned
